
body {
  font-family: Arial, sans-serif;
  background-color: #3fa470;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.App {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 600px; 
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.TodoForm {
  margin-bottom: 20px;
}

.todo-entry {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%; 
}

