body {
    background-color: cadetblue;
    margin: 0;
    font-family: Arial, sans-serif; 
}

.page-header {
    font-size: 10rem;
    color: #fff; 
    text-align: center;
    margin: 20px 0;
}

.movie-page {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: cadetblue; 
    padding: 20px;
    box-sizing: border-box; 
}

.movie-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-poster {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.movie-title {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.movie-details {
    font-size: 1.1em;
    color: #555;
}

.release-date {
    font-style: italic;
    color: #777;
}

.loader {
    font-size: 1.2em;
    color: #888;
}
